<!DOCTYPE html>
<html>
<head>
  <title>Z</title>
  <%= stylesheet_link_tag "admin", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= render 'admin/shared/header' %>
    <div id="container">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </div>
</body>
</html>
